html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* background avec les triangles */
canvas{
    position : fixed;
    top: 0;
    z-index : -100;
}
/* bouton clik page d'accueil */
.bouton{
    cursor: pointer;
}
/* logo traveaux */
.travaux{
    height: 40px;
}

/****************************************************************
 *						     FONTS								*
 ****************************************************************/
@font-face{
    font-family: bastille;
    src: url(../font/bastillefont.ttf);
}

/****************************************************************
 *							ACCUEIL								*
 ****************************************************************/
.box{
    position: fixed;
    height: 100%;
    width: 90%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box p{
    text-align: center;
    color: inherit;
    text-shadow: 0 0 3px black;
    font-family: bastille;
    font-size: 5em;
}
.box h1{
    color: inherit;
    text-shadow: 0 0 3px black;
    font-family: bastille;
    font-size: 7em;
}
.box a{
    color: inherit;
}
.box a:hover{
    text-decoration : underline;
}
#selectbox{
    display: none;
    justify-content: center;
}
#selectbox h1{
    margin: 3% 0;
}

/****************************************************************
 *							NAV									*
 ****************************************************************/
nav{
    position: fixed;
    height: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bastille;
    font-size: 150%;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 80%;
}
nav li {
    float: left;
}
nav li a {
    padding: 14px 16px;
    display: block;
    text-align: center;
    color: inherit;
    font-size: 200%;
    transition: all 0.2s;
}
nav a:hover{
    border-radius: 5px;
    background-color: hsla(0, 0%, 50%, 0.2);
}

/****************************************************************
 *							ARTICLE								*
 ****************************************************************/
#backarti{
    position: fixed;
    top: 10%;
    bottom: 0;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    z-index: -10;
}
article{
    position: absolute;
    top: 15%;
    bottom: 0;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 1%;
    z-index: 10;
}
article h2{
    margin-left: 10%;
    color: inherit;
    font-family: bastille;
    font-size: 200%;
}
.chap{
    margin: 0 5% 30px 5%;
    padding: 2% 3%;
    background: white;
    border-radius: 5px;
}
article p{
    text-align: justify;
}
article p a{
    color: inherit;
}

/* liste */
article ul li{
    margin-left: 20px;
}

/****************************************************************
 *							ABOUT								*
 ****************************************************************/
/* tableau */
#info{
    height: 30%;
    display: flex;
    justify-content: space-between;
}
#info img{
    height: 100%;
}
#info table{
    width: 80%;
    margin: 0 3%;
}
#info th, td{
    width: 50%;
    border-collapse: collapse;
    border: 2px solid black;
}
#info article th, td{
    padding: 5px;
    text-align: left;
}
#about p{
    margin-top: 5px;
    font-size: 120%;
}

/****************************************************************
 *							HOBBYS								*
 ****************************************************************/	
/* Musiques */
#musique .musicbox{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
#musique .musicboxtex{
    width: 50%;
}
#musique .musicboxvid{
    display: flex;
    align-items: center;
}
#musique article h3{
    margin-top: 10px;
    font-size: 140%;
}

/* Numerique */
#numerique{
    height: 100%;
}
#numerique p{
    text-align: center;
}
#numerique h3{
    margin: 10px 0 5px;
    font-family: bastille;
    text-decoration: underline;
    font-size: 140%;
}
#numerique a{
    color: inherit;
}
#numerique a:hover{
    text-decoration: underline;
}
#numerique #sitebox{
    width: 100%;
    height: 90%;
}
#numerique #lienbox{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#numerique #lienbox div{
    text-align: center;
}
#numerique #framebox{
    height: 80%;
    width: 100%;
}
#numerique #framebox iframe{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 10px 1px black;
    background-image: url('../donnees/ici.png');
    background-size: 100%;
    background-position: center;
}

/* Plastique */
#plastiques .paragraphe{
    margin-bottom: 15px
}
#plastiques .paragraphe{
    font-size: 150%;
}
#plastiques h3{
    font-family: bastille;
    font-size: 125%;
}
#plastiques img{
    height: 300px;
}

/****************************************************************
 *						portfolio								*
 ****************************************************************/
#photochap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photobox{
    height: 400px;
    width: 300px;
    margin: 5px;
    border: 1px solid #ccc;
}
.photopart{
    height: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.photopart img{
    height: 100%;
    margin: auto;
    display: block;
}
.textpart{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textpart h3{
    margin-top: 3px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}
.textpart p{
    margin-bottom: 3px;
    text-align: center;
}


/****************************************************************
 *						switch theme							*
 ****************************************************************/
#switch {
    position: fixed;
    right: 0;
    width: 60px;
    height: 34px;
    margin: 5px;
    display: inline-block;
    z-index: 200;
}
#inputswitch {
    display:none;
}
#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .2s;
}
#slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .1s;
}
input:checked + #slider {
    background-color: #444;
}
input:checked + #slider:before {
    background-color: #222;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}